<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>1</Pages><Words>128</Words><Characters>633</Characters><TotalTime>4</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>749</CharactersWithSpaces><Application>WPS Office_12.1.0.26375_F1E327BC-269C-435d-A152-05C5408002CA</Application></Properties>